
<table class="worksheet-responses">

  <tr>
    <td style="text-align: right;">Sales Price $</td>
    <td><%= current_user.worksheets.first.sales %></td>
  </tr>

  <tr>
    <td style="text-align: right;">Transfer Tax Stamps $</td>
    <td><%= current_user.worksheets.first.transfer %></td>
  </tr>


  <tr>
    <td style="text-align: right;">Title Charges $</td>
    <td><%= current_user.worksheets.first.title %></td>
  </tr>


  <tr>
    <td style="text-align: right;">Inspections $</td>
    <td><%= current_user.worksheets.first.inspections %></td>
  </tr>


  <tr>
  <td style="text-align: right;">Attorney $</td>
  <td><%= current_user.worksheets.first.attorney %></td>
  </tr>


  <tr>
    <td style="text-align: right;">Survey $</td>
    <td><%= current_user.worksheets.first.survey %></td>
  </tr>


  <tr>
    <td style="text-align: right;">Home Warranty Fee $</td>
    <td><%= current_user.worksheets.first.home %></td>
  </tr>


  <tr>
    <td style="text-align: right;">TOTAL $</td>
    <td><%= current_user.worksheets.first.total %></td>
  </tr>


  <tr>
  <td style="text-align: right;">Broker Commissions $</td>
  <td><%= current_user.worksheets.first.broker %></td>
  </tr>


  <tr>
  <td style="text-align: right;">Loan Discount Points $</td>
  <td><%= current_user.worksheets.first.loan %></td>
  </tr>


  <tr>
    <td style="text-align: right;">First Mortgage Payoff $</td>
    <td><%= current_user.worksheets.first.first %></td>
  </tr>


  <tr>
    <td style="text-align: right;">Repairs $</td>
    <td><%= current_user.worksheets.first.repairs %></td>
  </tr>


  <tr>
    <td style="text-align: right;">Other Liens/Deductions $</td>
    <td><%= current_user.worksheets.first.other %></td>
  </tr>

  <tr>
    <td style="text-align: right;">NET CASH TO SELLER $</td>
    <td><%= current_user.worksheets.first.net %></td>
  </tr>
</table>
